@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-primary-hover: #059669;
  --color-primary-light: #d1fae5;
  --color-background-alt: #f8fafc;
  --color-border-light: #e2e8f0;
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;

  --font-display: "Inter", sans-serif;

  --shadow-soft: 0 4px 20px -2px rgba(0, 0, 0, 0.05);
  --shadow-glow: 0 0 15px rgba(16, 185, 129, 0.3);
}

:root {
  font-family: var(--font-display);
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text-main);
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
}

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #10b981, #059669);
}

@keyframes pulse-slow {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.85;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Range Input Styles */
input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 1.25rem;
  /* h-5 */
  width: 1.25rem;
  /* w-5 */
  border-radius: 9999px;
  background-color: var(--color-primary);
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  margin-top: -0.5rem;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.25rem;
  cursor: pointer;
  background-color: #e2e8f0;
  border-radius: 0.5rem;
}